@import 'src/styles/functions';
@import 'src/styles/mixins';

.air {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(32);
  flex-wrap: wrap;

  @include media(tablet) {
    flex-direction: row;
  }
}

.smallCard,
.fullCard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cardTitle {
  color: var(--color-gray-light);
}

.smallCard {
  @include media(tablet) {
    width: calc(50% - rem(16));
  }
}
