/**
* Colors
*/
$colorBlackLight: #19191e;
$colorBlackDark: #141419;
$colorBlueLight: #3b81c7;
$colorBlueMedium: #353a72;
$colorGrayLight: #5e656a;
$colorWhiteLight: #ededed;
$colorGreenLight: #409878;
$colorRedLight: #843645;
