@import 'src/styles/mixins';
@import 'src/styles/functions';

.main {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  width: 100%;

  @include media(tablet) {
    flex-direction: row;
  }
}

.menu {
  width: 100%;
  height: rem(64);
  position: fixed;
  bottom: 0;

  @include media(tablet) {
    width: rem(128);
    height: 100vh;
  }
}

.mainContent {
  width: 100%;
  box-sizing: border-box;
  padding: rem(32);
  display: flex;
  flex-direction: column;
  gap: rem(32);

  @include media(tablet) {
    margin-left: rem(128);
  }
}

.header {
  width: 100%;
}

.content {
  width: 100%;
  margin: 0 auto;
  border-top: rem(2) solid var(--color-gray-light);
  padding: rem(32) rem(0);
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  max-height: calc(100vh - rem(335));
  min-height: calc(100vh - rem(335));

  @include media(tablet) {
    max-width: 90%;
    max-height: calc(100vh - rem(240));
    min-height: calc(100vh - rem(240));
  }
}
